:root {
    --dark-burgundy-color: #2c041a;
    --lighter-burgundy-color: #4d0d1e;
    --darker-pink-color: #cc96bc;
    --light-pink-color: #fbdaeb;
    --transparent-pink: rgba(251,218,235, 0.4);
    --transparent-burgundy: rgba(77,13,30, 0.6);
}

body {
    background: rgb(77,13,30);
    background: linear-gradient(5deg, rgba(77,13,30,1) 9%, rgba(204,150,188,1) 49%, rgba(251,218,235,1) 72%, rgba(255,255,255,1) 91%);
    color: #2C041A;
    font-family: 'Be Vietnam', sans-serif;
   height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    text-align: center;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
}

.links {
    margin: 0 20px;
}

.links a {
    color: var(--lighter-burgundy-color, #4d0d1e);
    display: flex;
    flex-direction: column;
    border: 3px solid #fff;
    border-radius: 30px;
    margin: 20px 0;
    padding: 10px 0;
    text-decoration: none;
}

.links a:hover {
    background-color: var(--light-pink-color, pink);
}

.outro p {
    color: #fff;
    margin: 15px 20px;
}

.outro img {
    background-color: var(--transparent-burgundy,rgba(77,13,30, 0.6) );
    display: inline-block;
    width: 3em;
    height: 3em;
}
