body {
    background: rgb(77,13,30);
    background: linear-gradient(5deg, rgba(77,13,30,1) 9%, rgba(204,150,188,1) 49%, rgba(251,218,235,1) 72%, rgba(255,255,255,1) 91%);
    color: #2C041A;
    font-family: 'Be Vietnam', sans-serif;
   height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    text-align: center;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
}

.links {
    margin: 0 20px;
}

.links a {
    color: #2C041A;
    display: flex;
    flex-direction: column;
    border: 3px solid #fff;
    border-radius: 30px;
    margin: 20px 0;
    padding: 10px 0;
    text-decoration: none;
}

.links a:hover {
    background-color: #fbdaeb;
}

.outro p {
    color: #fff;
}

.outro a {
    display: flex;
    flex-flow: row wrap;
}
